<%= render "shared/header" %>
<div class="swiper-container bg-l">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img class="bg-img1">
    </div>
    <div class="swiper-slide">
      <img class="bg-img2">
    </div>
    <div class="swiper-slide">
      <img class="bg-img3">
    </div>
  </div>
</div>