<!-- Slider main container -->
<div class="swiper-container bg-l">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img class="bg-img1">
    </div>
    <div class="swiper-slide">
      <img class="bg-img2">
    </div>
    <div class="swiper-slide">
      <img class="bg-img3">
    </div>
  </div>
</div>