<%= render "shared/header" %>
<div id='container'>
  <div class="swiper-container bg-light">
    <div class='hero__title'>My Own Book</div>
    <div class='hero__subtitle'>ありふれた本を</div>
    <div class='hero__subtitle2'>あなただけの本に</div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="bg-img1">
      </div>
      <div class="swiper-slide">
        <img class="bg-img2">
      </div>
      <div class="swiper-slide">
        <img class="bg-img3">
      </div>
    </div>
  </div>
</div>
<div class='bg-light' id='container2'>
  <div class='container set-pad-100'>
    <span class='des-title'>MOB</span><span class='des-stitle'>モブ</span>
    <div class=''>世の中に同じ本はいくらでもあります</div>
    <div class=''>しかし</div>
    <div class=''>発見や学びは人それぞれです</div>
    <div class=''>ありふれた本を</div>
    <div class=''>あなただけの本に</div>
  </div>
</div>