<%= render "shared/header" %>
<div class='bg-light new-container'>
  <div class='bg-white new-ideas'>
    <%= form_with  model: @idea, url: ideas_path, local: true do |f| %>
      <div class=''>
        <h2 class=''><span class=''>1</span>あなたの大切だと思った部分の要約を書く</h2>
        <%= f.text_area :idea_1, class:"", id:"", placeholder:"本の肝となる部分ではなく、あなたの心に響いた言葉などを書きましょう"%>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>