<header class='container-fluid d-flex'>
  <div class='container-fluid'>
    MOB
  </div>
  <div class=''>
      <%# <% if user_signed_in? %>  %>
        <%= link_to 'ユーザー名', '#', class: "" %>
        <%= link_to 'ログアウト', '#', method: :delete, class: "" %>
      <%# <% else %> %>
        <%= link_to 'ログイン', '#', class: "" %>
        <%= link_to '新規登録', '#', class: "" %>
      <%# <% end %> %>
    </div>
  </div>
</header>