<header class='container-fluid d-flex ht-100 mb-1'>
  <div class='container-fluid logo'>
    MOB
  </div>
  <div class='d-flex justify-content-end align-items-end btn-ff'>
      <%# <% if user_signed_in? %>  
        <%= link_to 'ユーザー名', '#', class: "head-btn" %>
        <%= link_to 'ログアウト', '#', method: :delete, class: "head-btn" %>
      <%# <% else %> 
        <%= link_to 'ログイン', '#', class: "head-btn" %>
        <%= link_to '新規登録', '#', class: "head-btn" %>
      <%# <% end %> 
    </div>
  </div>
</header>