.h-800 {
  height: 900px;
}

.h-500 {
  height: 500px;
}

.middle-form {
  margin: 20px 0 20px 0;
}

.form-name {
  margin: 50px 0 0 72px;
}

.custom-upbtn {
  margin: 150px 0 100px 0;
}

.custom-inbtn {
  margin: 100px 0 80px 0;
}

.set-mg {
  padding: 100px 300px;
}