@import 'swiper';

@import 'mixin';



.ht-100 {
  height: 100px;
}

.logo {
  font-family: 'Krona One', sans-serif;
  font-size: 80px;
}

.btn-ff {
  font-family: 'Krona One', sans-serif;
}

.head-btn {
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  width: 150px;
  
  &:hover {
    color: black;
    @include animation(
    $name: kf-hover-hbtn,
    $duration: 0.5s
    );
  }
}

#container2 {
  height: 3000px;
  text-align: center;
}

.in-container2 {
  width: 100%;
  height: 700px;
  padding: 100px;
}

.des-top {
  margin-bottom: 80px;
}

.des-title {
  font-size: 80px;
}

.des-stitle {
  font-size: 15px;
}

.description {
  font-size: 20px;
  margin-bottom: 30px;
  font-family: "Sawarabi Gothic";
}

.des-MOB {
  font-size: 40px;
  font-family: 'Krona One', sans-serif;
}

.usage-1 {
  width: 50%;
  height: 700px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: $cWhite;
  font-family: "Sawarabi Gothic";
}

.usage-title {
  font-size: 35px;
  margin-bottom: 120px;
  padding-top: 60px;
}

.usage-desc {
  font-size: 20px;
  margin-top: 50px;
  padding-bottom: 50px;
}


@keyframes kf-hover-hbtn {
  0% {
    font-size: 13px;
    letter-spacing: 0px;
  }
  50% {
    font-size: 20px;
    letter-spacing: 10px;
  }
  100% {
    font-size: 13px;
    letter-spacing: 0px;
  }
}