.swiper-container {
  width: 600px;
  height: 300px;
}

.bg-img1 {
  background-image: url(alain-ehNRo3eWJAk-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.bg-img2 {
  background-image: url(hubert-neufeld-bZvdX5Ysm44-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.bg-img3 {
  background-image: url(ibrahim-mushan-qnjKufYqIIE-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}